SECRET_KEY=change-me
ADMIN_PASSWORD=change-me
COLLEGE_FOUNDING_YEAR=2001
VIGENERE_KEY=FRESHER
SUBSTITUTION_KEY=clock raven signal
FLAG_HASH_L1=
FLAG_HASH_L2=
FLAG_HASH_L3=
FLAG_HASH_L4=
FLAG_HASH_L5=
